#events-ctn{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.event{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
}
.event > img{
    width: 100%;
    height: auto;
}
.event-name{
    margin-top: 5px;
}
@media only screen and (min-width: 1200px) {
    #events-ctn{
        display: grid;
        grid-template-columns: 49.5% 49.5%;
        column-gap: 1%;
    }
}
@media only screen and (min-width: 1800px) {
    #events-ctn{
        display: grid;
        grid-template-columns: 32.67% 32.67% 32.67%;
        column-gap: 1%;
    }
}
